@media (max-width: 480px) {

    * {
        box-sizing: border-box; 
    }

    .header,
    .main,
    .footer{
        width: 100%;
    }

    .first-image,
    .header-first-list,
    .header-form,
    /*.header-first-login,*/
    .header-second,
    .filter-container{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .main-filmAbout{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-filmAbout-image{
        justify-self: center;
    }
    .main-filmAbout-info{
        width: 100%;
    }
    .main-filmAbout-info-description{
        width: 100%;
    }
    .main-filmAbout-info-full{
        display: grid;
        grid-template-columns: 1fr;
    }

    .fullSecond-marks{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .main-video,.main-video-iframe{
        width: 100%;
    }
    
    
    .main-anotherFilms-list {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    .footer{
        display: block;
        height: 200px;
        padding: 20px;
    }
    .footer-info-logo{
        display: none;
    }
    .footer-info{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-menu{
        text-align: center;
    }

    .modal-content {
        margin: 10% 5%;
        padding: 20px;
    }

    .modal-content h2 {
        font-size: 1.3em;
    }

    .modal-content img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .modal-content input {
        width: 100%;
        max-width: 100%;
    }

    .modal-content button {
        width: 100%;
        max-width: 100%;
    }

    .modal-content .links {
        flex-direction: column;
        margin-top: 15px;
        font-size: 0.8em;
    }

    .modal-content .links a {
        margin-bottom: 5px;
    }

    .remember {
        width: 100%;
    }

    .cabinet-options {
        grid-template-columns: 1fr;
    }

    .cabinet-options button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
