
@media (max-width: 480px) {

    * {
        box-sizing: border-box; 
    }

    .header,
    .main,
    .footer{
        width: 100%;
    }

    .first-image,
    .header-first-list,
    .header-form,
    .header-first-logo,
    .header-second{
        display: none;
    }

    .header-first-login{
        
    }
    
    header{
        display: flex;
        justify-content: space-between;
    }
    .header-first{
        display: flex;
        justify-content: space-between;
        gap: 50%;
    }

    .main-buttons{
        padding-top: 40px;
    }
    
    .main-cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    .footer{
        display: block;
        height: 200px;
        padding: 20px;
    }
    .footer-info-logo{
        display: none;
    }
    .footer-info{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-menu{
        text-align: center;
    }
}
